
<ion-content [fullscreen]="true">
  <div class="img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sky.jpg" height = "1000"/>
  </div>
 
  <div class="location">
    {{ weather.name }}, {{ weather.sys.country }}
  </div>

  <div class="coords">
    {{weather.coord.lon}}, {{weather.coord.lat}}
  </div>

  <div class="weather">
    {{ weather.main.temp | number:'1.0-0' }}°C 
  </div>

  <div class="description">
    Feels Like: {{ weather.main.feels_like | number:'1.0-0' }}°C. {{ weather.weather[0].main }}, {{ weather.weather[0].description }} 
   </div>

   <div class="mm">
    <p>Max temperature: {{ weather.main.temp_max | number:'1.0-0' }}°C </p>
  </div>
 
  <div class="details">
    <p>Humidity: {{ weather.main.humidity }}%</p>
    <p>Visibility: {{ weather.visibility / 1000 }} km</p>
    <p>Pressure: {{ weather.main.pressure }} hPa</p>
    <p>Wind Speed: {{ weather.wind.speed }} m/s</p>
  </div>

 

</ion-content>
